/*-- scss:defaults --*/
// Warwick colors:

$w_lavender: #A499F4;
$w_lavender_80: #B6ADF5;
$w_purple: #440379;
$w_coral: #F1977F;
$w_blue: #6CB7FF;
$w_green: #51D7C1;
$w_yellow: #FEDE7B;
$w_black: #0C0C0C;
$w_black_80: #343333;



// Reveal colors:
$body-bg: white;
$body-color: $w_black_80;
$link-color: $w_lavender;


/*-- scss:rules --*/
.reveal {
  code {
    color: $link-color;
  }
}

h1 {
  text-transform: uppercase !important;
}

section.smaller h1 {
  font-size: 2.5em !important; //override an issue with h1 being displayed too largely in smaller.
}

#title-slide {
  h1 {
    text-shadow: rgba(0, 0, 0, 0.4) 0px 3px 3px;
  }
}

.slide-primary{
  background-color: $link-color;
  color: white;
}

.has-dark-background {
  aside {
    color: white !important;
      a {
        color: $link-color !important;
      }
  }
}

.smaller-text{
  font-size: 80%;
}

.highlight {
  background: rgba($link-color, 0.25);
  //color: $w-grey;
}

.highlight-text{
  position:relative;
}
.highlight-text:before{
  content:"";
  background-color:$w_lavender_80;
  width:100%;
  height:1em;
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  left:-0.25em;
  top:0.1em;
  padding:0 0.25em;
}

.sketch-highlight{
  position:relative;
  padding: 0 5px;
}

.sketch-highlight:before{
  content:"";
  z-index:-1;
  left:0em;
  top:0em;
  border-width: 2px;
  border-style: solid;
  border-color: #ff1493;
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height:1em;
  transform:rotate(2deg);
  opacity:0.5;
  border-radius:0.25em;
}

.sketch-highlight:after{
  content:"";
  z-index:-1;
  left:0em;
  top:0em;
  border-width:2px;
  border-style:solid;
  border-color: #ff1493;
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:1em;
  transform:rotate(-1deg);
  opacity:0.5;
  border-radius:0.25em;
}
